.banner_worp {
    background-image: url(../imgs/banner/1.jpg);
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    .banner_slider {
        position: relative;
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        .slick-arrow {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 2;
            transition: color .4s ease;
        }
        .slick-prev {
            left: calc(50% - 50px);
            top: auto;
        }
        .slick-next {
            right: calc(50% - 50px);
            top: auto;
        }
        .slick-prev:before {
            position: absolute;
            content: "\f053";
            font-family: 'FontAwesome';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-right: 4px;
        }
        .slick-next:before {
            position: absolute;
            content: "\f054";
            font-family: 'FontAwesome';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 4px;
        }
        .slick-prev:before,
        .slick-next:before {
            font-family: 'FontAwesome';
            font-size: 19px;
            line-height: 1;
            opacity: .75;
            color: rgba(0, 0, 0, 0.8);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-prev,
        .slick-next {
            transition: all 0.5s ease;
            bottom: 10px;
            &:hover {
                background-color: #5e5e5f;
                &::before {
                    color: #ffffff;
                }
            }
        }
        .ban_slied_item {
            background-image: url(../imgs/banner/1.jpg);
            text-align: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            .banner_main {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                position: relative;
                .bannerInner {
                    text-align: center;
                    svg {
                        display: block;
                        font: 52px 'Poppins', sans-serif;
                        width: 100%;
                        height: 100%;
                    }
                    .dnxt-text-stroke-animation-text {
                        fill: none;
                        stroke: white;
                        stroke-dasharray: 6% 29%;
                        stroke-width: 3px;
                        stroke-dashoffset: 0%;
                        animation: stroke-offset 5.5s infinite linear;
                    }
                    .dnxt-text-stroke-animation-text:nth-child(1) {
                        stroke: #4D163D;
                        animation-delay: -1;
                    }
                    .dnxt-text-stroke-animation-text:nth-child(2) {
                        stroke: #ffffff;
                        animation-delay: -2s;
                    }
                    .dnxt-text-stroke-animation-text:nth-child(3) {
                        stroke: #BD0034;
                        animation-delay: -3s;
                    }
                    .dnxt-text-stroke-animation-text:nth-child(4) {
                        stroke: #BD0034;
                        animation-delay: -4s;
                    }
                    .dnxt-text-stroke-animation-text:nth-child(5) {
                        stroke: #FDB731;
                        animation-delay: -5s;
                    }
                    @keyframes stroke-offset {
                        100% {
                            stroke-dashoffset: -35%;
                        }
                    }
                    .banne_hed {
                        letter-spacing: -2px;
                        font-size: 61px;
                        font-weight: 700;
                        line-height: 1;
                        color: #f7f7f7;
                    }
                    .banner_pra {
                        font-size: 18px;
                        color: #f7f7f7;
                        margin: 16px 0 25px 0;
                    }
                }
            }
        }
        .ban_slied_item2 {
            background-image: url(../imgs/banner/2.jpg);
        }
        .ban_slied_item3 {
            background-image: url(../imgs/banner/3.jpg);
        }
    }
    .icon_abouts {
        position: absolute;
        bottom: 0;
        left: 60px;
        display: flex;
        list-style: none;
        &:before {
            content: "";
            position: absolute;
            bottom: 25px;
            left: -45px;
            width: 40px;
            background-color: #a29d9d4a;
            height: 1px;
        }
        .about_img {
            margin: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #a29d9d4a;
            transition: all 0.5s;
            a {
                overflow: hidden;
                position: relative;
                .icon_one {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: all 0.5s;
                    transform: translateY(-50%);
                    color: #a29d9d;
                }
                .icon_one+.icon_one {
                    top: 100%;
                    transform: translateY(0);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    .icon_one {
                        top: -100%;
                        transform: translateY(0);
                    }
                    .icon_one+.icon_one {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &.Get_apac {
                    margin-right: 8px;
                }
                &.btn_custom {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    transition: all 0.5s linear;
                    text-decoration: none;
                }
            }
        }
        .bgiconcolor {
            .icon_one {
                &:hover {
                    color: #ffffff;
                }
            }
            &:hover {
                background-color: #3b5998;
            }
        }
        .bgiconcolor2 {
            .icon_one {
                &:hover {
                    color: #ffffff;
                }
            }
            &:hover {
                background-color: #8a3ab9;
            }
        }
        .bgiconcolor3 {
            .icon_one {
                &:hover {
                    color: #ffffff;
                }
            }
            &:hover {
                background-color: #c4302b;
            }
        }
    }
    .sets_canvas {
        position: fixed;
        top: 221px;
        right: 26px;
        margin-bottom: 30px;
        border: 1px solid rgba(0, 0, 0, .09);
        border-radius: 3px;
        box-shadow: 0 13px 42px 11px rgb(0 0 0 / 5%);
        z-index: 1000;
        // overflow: hidden;
        transition: all .45s ease;
        .canvas_bttn {
            box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
            width: 50px;
            height: 50px;
            background: #fff;
            border: 1px solid #ddd;
            outline: none;
            border-radius: 3px;
            text-align: center;
            position: absolute;
            top: -90px;
            right: 0px;
            z-index: 1001;
            i {
                font-size: 20px;
            }
        }
        .color_sattingadd {
            width: 0px;
            min-height: 0px;
            height: 0%;
            overflow-X: scroll;
            position: absolute;
            top: -90px;
            right: 0px;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, .09);
            border-radius: 3px;
            box-shadow: 0 13px 42px 11px rgb(0 0 0 / 5%);
            z-index: 1000;
            transition: all 0.5s ease;
            a {
                cursor: pointer;
                margin: 0 5px 5px 0;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    background-color: #5a6268;
                    border-color: #545b62;
                }
            }
            .widget {
                .line {
                    opacity: 1;
                    transition: opacity .3s .4s ease;
                    clear: both;
                    position: relative;
                    width: 0%;
                    margin: 35px 0;
                    border-top: 1px solid #eee;
                }
                .line_pra {
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                    color: #444;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .btn-container {
                    .btn {
                        margin: 2px;
                    }
                }
                .geara_pra {
                    margin-bottom: 30px;
                }
                .gear_row {
                    margin: 0 -5px;
                    .geat_col {
                        padding: 5px;
                    }
                }
            }
        }
        .jsClass {
            width: 300px;
            min-height: 400px;
            height: 100%;
            padding: 35px 25px;
            overflow-X: scroll;
            position: absolute;
            top: -90px;
            right: 0px;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, .09);
            border-radius: 3px;
            box-shadow: 0 13px 42px 11px rgb(0 0 0 / 5%);
            z-index: 1000;
            transition: all 0.5s ease;
            a {
                cursor: pointer;
                margin: 0 5px 5px 0;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    background-color: #5a6268;
                    border-color: #545b62;
                }
            }
            .widget {
                .line {
                    opacity: 1;
                    transition: opacity .3s .4s ease;
                    clear: both;
                    position: relative;
                    width: 100%;
                    margin: 35px 0;
                    border-top: 1px solid #eee;
                }
                .line_pra {
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                    color: #444;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .btn-container {
                    .btn {
                        margin: 2px;
                    }
                }
                .geara_pra {
                    margin-bottom: 30px;
                }
                .gear_row {
                    margin: 0 -5px;
                    .geat_col {
                        padding: 5px;
                    }
                }
            }
        }
    }
}