.footer_worp {
    position: relative;
    background-color: #222222;
    .footer_widgets {
        padding: 80px 0;
        .widget {
            .ft_head {
                color: #EEE;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0;
                margin-bottom: 1rem;
            }
            ul {
                margin-bottom: 0;
                li {
                    margin-bottom: 3px;
                    a {
                        color: #888;
                        text-decoration: none;
                        &:hover {
                            color: rgba(255, 255, 255, 0.85);
                        }
                    }
                }
            }
        }
    }
}